{include file="admindo/include/header" /}
<div class="span9">
    <h1>
        VideoType&nbsp;&nbsp;&nbsp;&nbsp;<a href="review?viewname=admindo/type/add"><strong><small  style="text-decoration:blink;font-size:small;color:teal;">Create New</small></strong></a>
    </h1>
    <div class="well summary">
        <ul>
            <li>
                <a style="text-decoration:blink;color:teal;"> types&nbsp;&nbsp;共<span class="BlogCount" id="count">0</span>条数据&nbsp;&nbsp;&nbsp;&nbsp;新建标签</a>
            </li>
        </ul>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    标题
                </th>

                <th>
                    创建时间
                </th>
                <th>
                    修改时间
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
    <ul class="pager">
        <li id="older" onclick="older()" class="previous"><a>&larr;Older</a></li>
        <li>
            <a id="page">1</a>
        </li>
        <li id="more" class="next" onclick="next()">
            <a>Next &rarr;</a>
        </li>
    </ul>
</div>
</div>
</div>

</body>

</html>
<script>
    $eachnum = 5;
    $maxnum = 1;
    //获取分页最大数量
    //post 请求
    $.post("/biye/public/index/admindo/selectnum", {
        "tablename": "t_type", //表名
        "sql": ''
    }, function(result) {
        // 显示总条数
        $("#count").text(result);
        //获取数据数量除每页条数
        $maxnum = parseInt(result / $eachnum) + 1;
    });
    //初始页面数
    $page = 1;
    //页面初始化
    pagealert();
    getdata();
    //更换活动标签（active）

    $(".active").removeClass("active");

    $("#type").addClass("active");

    //删除数据
    function dodelete(id) {
        $.post("/biye/public/index/admindo/delete", {
            "tablename": "t_type", //表名
            "fieldname": 'id', //删除的条件字段
            "fieldvalue": id //删除条件的值
        }, function(result) {
            if (result.code != 1401) {
                alert("删除成功!");
                pagealert();
            } else {
                alert(result.info);
            }
        });
    }

    //获取分页数据
    function getdata() {
        //post 请求
        $.post("/biye/public/index/admindo/select", {
            "tablename": "t_type", //表名
            "sql": '', //查询的条件
            "limit": ($page - 1) * $eachnum + "," + $page * $eachnum //分页
        }, function(result) {
            //回掉函数处理，输出结果
            //如果没有获取错误码
            if (result.code != 401) {
                $html = "";
                //遍历结果处理数据进行输出
                result.forEach(function(item) {
                    $inner = "<tr>";
                    //将每一项数据进行遍历，生成html代码
                    $.each(item, function(key, val) {
                        if (val != null && val.length > 100) {
                            val = val.substring(0, 100) + "......";
                        }
                        $inner = $inner + "<td>" + val + "</td>"
                    });
                    $a1 = "<td>";
                    $a2 = "<a onclick='dodelete(" + item.id + ")'>删除</a></td>";
                    $inner = $inner + $a1 + $a2;
                    $html += $inner;
                });
                $("#tbody").html($html);
            } else {
                alert(result.info);
            }
        });
    }
    //下一页
    function next() {
        $page++;
        pagealert();
    }
    //上一页
    function older() {
        $page--;
        pagealert();
    }
    // 页面变化处理
    function pagealert() {
        if ($page <= 1) {
            if ($page == 1) {
                getdata();
            }
            $page = 1;
            $("#older").addClass("disabled");
            $("#more").removeClass("disabled");
            $("#page").text($page);
        } else if ($page >= $maxnum) {
            if ($page == $maxnum) {
                getdata();
            }
            $page = $maxnum;
            $("#more").addClass("disabled");
            $("#older").removeClass("disabled");
            $("#page").text($page);
        } else {
            $("#older").removeClass("disabled");
            $("#more").removeClass("disabled");
            $("#page").text($page);
        }

    }
</script>