{include file="admindo/include/header" /}
<div class="span9">
    <h1>
        Video&nbsp;&nbsp;&nbsp;&nbsp;<a href="review?viewname=admindo/object/new"><strong><small  style="text-decoration:blink;font-size:small;color:teal;">Create New</small></strong></a>
    </h1>
    <div class="well summary">
        <ul>
            <li>
                <a style="text-decoration:blink;color:teal;"> videos&nbsp;&nbsp;共<span class="BlogCount" id="count">0</span>条数据&nbsp;&nbsp;&nbsp;&nbsp;视频列表</a>
            </li>
        </ul>
    </div>
    <div class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="inputEmail">项目标题</label>
            <div class="controls">
                <input type="text" id="title" placeholder="Title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">最佳温度</label>
            <div class="controls">
                <input type="text" id="keyword" placeholder="besttem">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">标签</label>
            <div class="controls">
                <select id="typeselet">

                </select>
            </div>
        </div>
       
        <!-- <button class="btn btn-large btn-block" onclick="update()" type="button">修改</button> -->
        <div style="margin-top:20px;text-align:center;">
            <button style="width:15%" class="btn btn-primary" onclick="update()" type="button">上传</button>
        </div>
    </div>
    </body>

    </html>
    <script>
        //获取分页最大数量
        //post 请求
        $.post("/biye/public/index/admindo/selectnum", {
            "tablename": "t_object", //表名
            "sql": ''
        }, function (result) {
            // 显示总条数
            $("#count").text(result);

        });
        gettypes();
        //获取标签
        //获取分页数据
        function gettypes() {
            //post 请求
            $.post("/biye/public/index/admindo/select", {
                "tablename": "t_type", //表名
                "sql": '', //查询的条件
                "limit": "0,50" //分页
            }, function (result) {
                //回掉函数处理，输出结果
                //如果没有获取错误码
                if (result.code != 401) {
                    $html = "";
                    //遍历结果处理数据进行输出
                    result.forEach(function (item) {
                        $inner = "";
                        $inner = $inner + "<option value='"+item.id+"' >" + item.typename + "</option>"
                        $html += $inner;
                    });
                    $("#typeselet").html($html);
                } else {
                    alert(result.info);
                }
            });
        }
        function loadFile(file, order) {
        $("#filename" + order).html(file.name);
        $("#img" + order).attr("src", "/biye/public/static/img/load.gif");
        var fd = new FormData();
        fd.append("upfile", file);
        $.ajax({
            url: '/biye/public/blog/fileuploader/up',
            type: "post",
            processData: false,
            contentType: false,
            data: fd,
            success: function (result) {
                if (result.code != 400) {
                    alert("上传失败！");
                    $("#img" + order).attr("src", "/biye/public/static/img/imgfailed.jpg");
                } else {
                    $("#img" + order).attr("src", "/biye/public/static/img/ok.jpg");
                    $("#videourl").attr("value", result.url);
                }
            },
            error: function (result) {
                console.log(result);
                alert("上传失败！");
                $("#img" + order).attr("src", "/biye/public/static/img/imgfailed.jpg");

            },
        });

    }
      
        function update() {
            $title = $("#title").val();
            $keyword = $("#keyword").val();
            $blogtype = $("#typeselet").val();
         
            //post 请求
            //上传博文
            $.post("/biye/public/index/admindo/add", {
                "tablename": "t_object", //表名
                "data": { 
                    "objectname": $title, 
                    "besttem": $keyword, 
                    "tid": $blogtype
                 }, //上传数据
            }, function (result) {
                //回掉函数处理，输出结果
                //如果没有获取错误码
                if (result.code != 401) {
                    alert(result.info);
                    window.location.href="/biye/public/index/admindo/review?viewname=admindo/object/objectlist";
                } else {
                    alert(result.info);
                }
            });
        }
    </script>